projects/tidyverse/murders.csv
.Rproj.user
.Rhistory
.RData
.Ruserdata
tmp/
qmd/*_cache/
qmd/output/
qmd/*_files
qmd/*RData
qmd/_site
qmd/*.csv
qmd/*.csv.gz
.DS_Store
/.quarto/
/_site/
**_files
**_cache
